@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*poppins*/

body{
    background: linear-gradient(242.95deg, #06070A 84.81%, #27262E 100%);
    background-size: cover;
}

.navbar{
    position: absolute;
    width: 1378px;
    height: 96px;
    top: 16px;
    left: 31px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 200px;
    background-color: transparent;
}

.brand-title{
    position: absolute;
    left: 128px;
    top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: grey;
    font-weight: bolder;
    margin: 0;
}

.actived{
    color: #48695C;
    font-weight: 500;
}

.navbar a{
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    color: #888888;
    font-size: 20px;
    font-weight: 500;
    margin: 0 35px;
    line-height: 36px;
    transition: ease 0.3s;
}

.navbar a:hover{
    color: #48695C;
    font-weight: 600;
}

.navbar a:nth-child(2){
    margin-left: 600px;
}

.page-title{
    position: absolute;
    left: 100px;
    top: 100px;
    font-family: 'poppins', sans-serif;
    color: #e5e5e5;
    font-size: 23px;
    font-weight: 600;
}

.watch-list{
    position: absolute;
    top: 180px;
    left: 146px;
    width: 1148px;
    height: fit-content;
}

.watch{
    height: 250px;
    width: 262px;
    background-color: #1F2122;
    border: 1px solid #949494;
    overflow: hidden;
}

.watch img{
    height: 300px;
    padding-left: 50px;
}

td{
    width: 262px;
    font-family: 'poppins', sans-serif;
    padding-right: 190px;
}

td p:nth-child(2){
    color: #e5e5e5;
    margin: 8px 0 0;
}

td p:nth-last-child(1){
    color: #48695C;
    margin-top: 0;
}

.footer{
    position: absolute;
    top: 1202px;
    left: 0;
    height: 225px;
    width: 100%;
    background-color: #2B2D30;
}

.footer-title{
    margin-top: 30px;
    text-align: center;
    color: #888888;
    font-family: 'poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.contact{
    position: absolute;
    left: 36.5%;
}

.footer1{
    display: flex;
}

.footer1 a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px 18px 0;
    background-color: #D9D9D9;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    font-size: 24px;
    color: #888888;
    transition: ease 0.3s;
}

.footer1 a:hover{
    color: #48695C;
}